@import "Normalize.css";

$font-size: 16px;
$background-color: #000000;
$text-color: #ffffff;

$border-color-default: #ffffff;
$border-bottom-color-default: #888989;

$mac-n-cheese: #f19703;
$mac-n-cheese-divider: #f2c99b;

$camel-milk: #2095c7;
$camel-milk-divider: #106c92;

html {
  line-height: 1.2;
}

body {
  font-family: "Open Sans", sans-serif;
}


@mixin label {
  border: 6px solid $border-color-default;
  width: 320px;
  margin: 21px;
  padding: 0 7px;
}

@mixin mac-n-cheese-label {
  border: 4px solid $mac-n-cheese;
  width: 320px;
  margin: 21px;
  padding: 0 7px;
}

@mixin camel-milk-label {
  border: 4px solid $camel-milk;
  width: 320px;
  margin: 21px;
  padding: 0 7px;
}

@mixin header {
  text-align: center;
  margin: -4px 0;
  letter-spacing: 0.15px;
}

@mixin divider {
  border-bottom: 1px solid $border-bottom-color-default;
  margin: 2px 0;
}

@mixin bold {
  font-weight: 800;
}

@mixin large {
  height: 10px;
  background-color: $border-color-default;
  border: 0;
}

@mixin medium {
  height: 5px;
  background-color: $border-color-default;
  border: 0;
}

@mixin small-text {
  font-size: 0.85rem;
}

@mixin calories-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@mixin left-container {
  p {
    margin: -5px -2px;
    font-size: 2em;
    font-weight: 700;
  }
}

@mixin calories-info-span {
  margin: -7px -2px;
  font-size: 2.4em;
  font-weight: 700;
}

@mixin right {
  justify-content: flex-end;
}

@mixin indent($amount) {
  margin-left: $amount;
}

@mixin note {
  padding: 0 8px;
  text-indent: -8px;
  font-size: 0.6rem;
  margin: 5px 0;
}

.wen-xin-ti-xing {
  padding: 4px;
}

* {
  box-sizing: border-box;
}

html {
  font-size: $font-size;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $background-color;
  color: $text-color;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.daily-value {
  p:not(.no-divider) {
    @include divider;
    border-bottom: 1px solid $border-bottom-color-default
  }
}

.label {
  @include label;
}

.label-mac-n-cheese {
  @include mac-n-cheese-label;
  .daily-value {
    p:not(.no-divider) {
      @include divider;
      border-bottom: 1px solid $mac-n-cheese-divider 
    }
  }
}

.label-camel-milk {
  @include camel-milk-label;
  .daily-value {
    p:not(.no-divider) {
      @include divider;
      border-bottom: 1px solid $camel-milk-divider 
    }
  }
}

header {
  h1, h2, h3 {
    @include header;
  }
}

p {
  margin: 0;
  display: flex;
  justify-content: space-between;
  .divider {
    @include divider;
  }
}

.divider {
  @include divider;
}

.devider-mac-n-cheese {
  border-bottom: 1px solid $mac-n-cheese-divider;
}

.devider-camel-milk {
  border-bottom: 1px solid $camel-milk-divider;
}

.bold {
  @include bold;
}

.large {
  @include large;
}

.medium {
  @include medium;
}

.label-camel-milk {
  .large {
    @include large;
    background-color: $camel-milk;
  }
  .medium {
    @include medium;
    background-color: $camel-milk;
  }
}

.label-mac-n-cheese {
  .large {
    @include large;
    background-color: $mac-n-cheese;
  }
  .medium {
    @include medium;
    background-color: $mac-n-cheese;
  }
}

.small-text {
  @include small-text;
}

.calories-info {
  @include calories-info;

  h2 {
    margin: 0;
  }

  span  {
    @include calories-info-span;
  }
}

.left-container {
  @include left-container;
}

.right {
  @include right;
}

.indent {
  @include indent(1em);
}

.double-indent {
  @include indent(2em);
}

.note {
  @include note;
}