
$TextSize-1: 42px;
$TextSize-15: calc($TextSize-1 * 1.5);
$TextSize-2: calc($TextSize-1 * 2);
$TextSize-05: calc($TextSize-1 / 2);
$TextSize-025: calc($TextSize-1 / 4);

$WATER-GREEN: #23aeba;
$CREAM-YELLO: #FFFDD0;
$CREAM-WHITE: #FAEED5;
$HOT-PINK: #EF7C8E;

$ButtonColor: $CREAM-YELLO;
$ButtonHoverColor: $WATER-GREEN;
$ButtonOutline: 2px;

$TransitionS: .2s;

$BGColor: #000000;
$TextColor: #ffffff;

//  Dad jokes
$DadMarginL: 16%;
$DadMarginR: 8%;
$DadMarginV: 169px;


body {

  font-size: $TextSize-05;
  font-family: /*monospace, "Courier New",*/ "Lucida Console", Courier;
  background-color: $BGColor;
  color: $TextColor;

}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: pre-wrap;
}

.gig-header {
  margin: 0;
  font-size: $TextSize-1;
  user-select: none;
}

.nav {

  margin: .4em;
  display: flex;
  flex-direction: row;
  // flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.playground {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  font-size: $TextSize-05;
}

.field {
  padding-left: 6px;
  padding-right: 6px;
  display: flex;
  flex-direction: column;
  span {
    margin: 0.3em
  }
}

@mixin button-style {

  color: $ButtonColor;
  border: $ButtonOutline solid $ButtonColor;
  border-radius: 12px;
  font-size: 13px;
  padding: 4px 10px;
  margin: 0 3px;
  background-color: transparent;
  transition: background-color $TransitionS ease, color $TransitionS ease, border $TransitionS ease;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
    background-color: $ButtonColor;
    color: $ButtonHoverColor;
    border: $ButtonOutline solid $ButtonHoverColor;
  }
}

.btn {
  @include button-style;
}

.data-field {
  font-size: $TextSize-05;
  // user-select: none;
}

.dad-jokes-field {
  font-size: $TextSize-1;
  color: $CREAM-WHITE;
  height: 96vh;
  user-select: none;
  margin-left: $DadMarginL;
  margin-right: $DadMarginR;
  margin-top: $DadMarginV;
}

@media only screen and (max-width: 768px) {

  .nav, .playground, .field {
    font-size: 8px;
  }

  .santa-mid {
    font-size: 11px;
  }

  .playground {
    margin-top: .3em;
  }

  .btn {
    font-size: $TextSize-025;
  }

  h2 {
    font-size: $TextSize-05;
  }

  .dad-jokes-field {
    font-size: 16px;
    height: 76vh;
    margin-left: calc($DadMarginL - 5px);
    user-select: none;
  }
}