@keyframes rainbow-rotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
body {
  font-size: 21px;
  font-family: "Lucida Console", Courier;
  background-color: #000000;
  color: #ffffff;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: pre-wrap;
}

.nav {
  margin: 0.4em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.playground {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  font-size: 21px;
}

.field {
  padding-left: 6px;
  padding-right: 6px;
  display: flex;
  flex-direction: column;
}
.field span {
  margin: 0.3em;
}

.data-field {
  font-size: 21px;
  padding: 6px;
}

.gig-header {
  margin: 0;
  font-size: 42px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #23aeba;
  animation: rainbow-rotate 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.btn {
  color: #FFFDD0;
  border: 2px solid #FFFDD0;
  border-radius: 12px;
  font-size: 16px;
  padding: 5px;
  margin: 1px;
  width: 77px;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}
.btn:hover {
  border: 2px solid #EF7C8E;
}

.btn-io {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: #FFFDD0;
}

.btn-current-route {
  border: 2px solid #EF7C8E;
}

.playground-2212, .playground-2003, .playground-2223, .playground-2011 {
  flex-direction: column;
  align-items: center;
}

.dad-jokes-field {
  font-size: 42px;
  color: #FAEED5;
  height: 69vh;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  margin-left: 16%;
  margin-right: 8%;
  margin-top: 169px;
}

.data-field-1802, .data-field-1803 {
  align-items: center;
}

.data-field-2223 {
  font-size: 17px;
}

.data-field-2212 {
  font-family: monospace;
  font-size: 10px;
  align-items: center;
}

.data-field-2011 {
  font-family: monospace;
  font-size: 11px;
  align-items: center;
}

.data-field-2003 {
  flex-direction: row;
  font-size: 15px;
}

.data-field-2222 {
  font-family: monospace;
  font-size: 9px;
}

.data-field-2021 {
  text-align: center;
  font-size: 23px;
}

.data-field-2003-children {
  padding-left: 3px;
  padding-right: 3px;
}

.res-field-1908 {
  padding-left: 80px;
}

.res-field-2210-image {
  padding-left: 0;
}

.playground-1908 {
  padding-left: 12px;
  padding-right: 12px;
}

.playground-2212 {
  flex-direction: column;
}

.playground-2223 .playground {
  flex: 1;
}

.res-field-1908-image {
  font-size: 32px;
}

.data-field-single-line-string {
  padding-right: 80px;
  word-break: break-all;
}

.res-field-2210 {
  font-size: 21px;
  display: flex;
  flex-direction: column;
}

.res-field-2210-result {
  font-size: 21px;
  display: flex;
  flex-direction: column;
}

.res-field-2210-image {
  font-size: 21px;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1010px) {
  .nav, .playground, .field {
    font-size: 17px;
  }
  .nav {
    justify-content: left;
  }
  .data-field-1501-santa {
    font-size: 14px;
  }
  .res-field-1608-image {
    font-size: 17px;
  }
  .data-field-2222 {
    font-size: 3px;
  }
  .data-field-2212 {
    font-size: 7px;
  }
  .data-field-2011 {
    font-size: 10px;
  }
  .data-field-2003 {
    font-size: 8px;
  }
  .res-field-2210-result {
    font-size: 17px;
  }
}
@media only screen and (max-width: 910px) {
  .res-field-1908 {
    padding-left: 6px;
  }
  .data-field-single-line-string {
    padding-right: 6px;
    word-break: break-all;
  }
}
@media only screen and (max-width: 768px) {
  .nav, .playground, .field {
    font-size: 8px;
  }
  .playground {
    margin-top: 0.3em;
  }
  h2 {
    font-size: 21px;
  }
  .btn {
    font-size: 9px;
    width: 39px;
    padding: 2px;
    border: 1px solid #FFFDD0;
  }
  .btn:hover {
    border: 1px solid #EF7C8E;
  }
  .btn-current-route {
    border: 1px solid #EF7C8E;
  }
  .btn-current-route:hover {
    border: 1px solid #EF7C8E;
  }
  .btn-io {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background-color: #FFFDD0;
  }
  .data-field-2212 {
    font-size: 3px;
  }
  .data-field-2011 {
    font-size: 6px;
  }
  .res-field-2210-result {
    font-size: 9px;
  }
  .data-field-1501-santa {
    font-size: 10px;
  }
  .res-field-1608-image {
    font-size: 7px;
  }
  .res-field-1908-image,
  .res-field-1608,
  .res-field-2210-image {
    font-size: 9px;
  }
  .playground-2212 {
    font-size: 1px;
  }
  .dad-jokes-field {
    font-size: 5vh;
    margin-top: 77px;
    margin-left: calc(16% - 5px);
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .data-field-2223 {
    font-size: 7px;
  }
  .data-field-2222 {
    font-size: 3px;
  }
  .data-field-1803 {
    font-size: 7px;
  }
  .data-field-2003 {
    font-size: 5px;
  }
  .data-field-2003-children {
    padding-left: 1px;
    padding-right: 1px;
  }
}