$TextSize-1: 42px;
$TextSize-15: calc($TextSize-1 * 1.5);
$TextSize-2: calc($TextSize-1 * 2);
$TextSize-05: calc($TextSize-1 / 2);
$TextSize-025: calc($TextSize-1 / 4);
$TextSize-02: calc($TextSize-1 / 5);

$WATER-GREEN: #23aeba;
$CREAM-YELLO: #FFFDD0;
$CREAM-WHITE: #FAEED5;
$HOT-PINK: #EF7C8E;

$ButtonColor: $CREAM-YELLO;
// $ButtonHoverColor: $WATER-GREEN;
$ButtonHoverColor: $HOT-PINK;
$ButtonOutline: 2px;
$ButtonSize: 16px;

$TransitionS: .3s;

$BGColor: #000000;
$TextColor: #ffffff;

//  Dad jokes
$DadMarginL: 16%;
$DadMarginR: 8%;
$DadMarginV: 169px;

@keyframes rainbow-rotate {
  from {
    filter: hue-rotate(0deg);
  } to {
    filter: hue-rotate(360deg);
  }
}

@mixin animation-rainbow-rotate {

  // color: $CREAM-YELLO;
  // color: $HOT-PINK;
  color: $WATER-GREEN;
  animation: rainbow-rotate 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@mixin button-style {

  color: $ButtonColor;
  border: $ButtonOutline solid $ButtonColor;
  border-radius: 12px;
  font-size: $ButtonSize;
  padding: 5px;
  margin: 1px;
  width: 66px;
  // width: 77px;
  background-color: transparent;
  transition: background-color $TransitionS ease, color $TransitionS ease, border $TransitionS ease;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
    // background-color: $ButtonColor;
    // color: $ButtonHoverColor;
    border: $ButtonOutline solid $ButtonHoverColor;
  }
}

body {

  font-size: $TextSize-05;
  font-family: /*monospace, "Courier New",*/ "Lucida Console", Courier;
  background-color: $BGColor;
  color: $TextColor;

}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: pre-wrap;
}

.nav {

  margin: .4em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.playground {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  font-size: $TextSize-05;
}

.field {
  padding-left: 6px;
  padding-right: 6px;
  display: flex;
  flex-direction: column;
  span {
    margin: 0.3em
  }
}

.data-field {
  font-size: $TextSize-05;
  padding: 6px;
}

.gig-header {
  margin: 0;
  font-size: $TextSize-1;
  user-select: none;
  @include animation-rainbow-rotate;
}

.btn {
  @include button-style;
}

.btn-io {
  border-radius: 50%;
  width: calc($ButtonSize * 2);
  height: calc($ButtonSize * 2);
  background-color: $ButtonColor;
}

.btn-current-route {
  border: $ButtonOutline solid $ButtonHoverColor;
}

.playground-2212, .playground-2003, .playground-2223, .playground-2011 {
  flex-direction: column;
  align-items: center;
}

// .playground-1802 {
//   .field {
//     flex: 1;
//   }
// }

.dad-jokes-field {
  font-size: $TextSize-1;
  color: $CREAM-WHITE;
  height:69vh;
  user-select: none;
  cursor: pointer;
  margin-left: $DadMarginL;
  margin-right: $DadMarginR;
  margin-top: $DadMarginV;
}

.data-field-1802, .data-field-1803 {
  align-items: center;
  // align-items:flex-end;
} 

.data-field-2223 {
  font-size: 17px;
}

.data-field-2212 {
  font-family: monospace;
  font-size: 10px;
  align-items: center;
}

.data-field-2011 {
  font-family: monospace;
  font-size: 11px;
  align-items: center;
}

.data-field-2003 {
  flex-direction: row;
  font-size: 15px
}

.data-field-2222 {
  font-family: monospace;
  font-size: 9px;
}

.data-field-2021 {
  text-align: center;
  font-size: 23px
}

.data-field-2003-children {
  padding-left: 3px;
  padding-right: 3px;
}

.res-field-1908 {
  padding-left: 80px;
}

.res-field-2210-image {
  padding-left: 0;
}

.playground-1908 {
  padding-left: 12px;
  padding-right: 12px
}

.playground-2212 {
  flex-direction: column;
}

.playground-2223 {
  .playground {flex: 1;}
}

.res-field-1908-image {
  font-size: 32px;
}

.data-field-single-line-string {

  padding-right: 80px;
  word-break: break-all;
}

.res-field-2210 {
  font-size: $TextSize-05;
  display: flex;
  flex-direction: column;
}

.res-field-2210-result {
  font-size: $TextSize-05;
  display: flex;
  flex-direction: column;
}

.res-field-1810 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.res-field-1810-image {
  font-size: 16px;
  text-align: center;
}

.res-field-2210-image {
  font-size: $TextSize-05;
  display: flex;
  flex-direction: column;
}

// .data-field-2210 {
//   font-size: 33px
// }

// .data-field-1908 {
//   font-size: $TextSize-1
// }

@media only screen and (max-width: 1010px) {
  .nav, .playground, .field {
    font-size: 17px;
  }
  .nav {
    justify-content: left;
  }
  .data-field-1501-santa {
    font-size: 14px;
  }
  .res-field-1608-image {
    font-size: 17px;
  }
  .data-field-2222 {
    font-size: 3px;
  }
  .data-field-2212 {
    font-size: 7px;
  }
  .data-field-2011 {
    font-size: 10px;
  }
  .data-field-2003 {
    font-size: 8px;
  }
  .res-field-2210-result {
    font-size: 17px;
  }
}

@media only screen and (max-width: 910px) {

  .res-field-1908 {
    padding-left: 6px;
  }
  .data-field-single-line-string {
    padding-right: 6px;
    word-break: break-all;
  }
  .res-field-1810-image {
    font-size: 6px;
  }
}

@media only screen and (max-width: 768px) {

  .nav, .playground, .field {
    font-size: 8px;
  }

  .playground {
    margin-top: .3em;
  }

  h2 {
    font-size: $TextSize-05;
  }

  .btn {
    font-size: 9px;
    width: $TextSize-1;
    padding: 2px;
    border: 1px solid $ButtonColor;
    &:hover {
      border: 1px solid $ButtonHoverColor;
    }
  }

  .btn-current-route {
    border: 1px solid $ButtonHoverColor;
    &:hover {
      border: 1px solid $ButtonHoverColor;
    }
  }

  .btn-io {
    border-radius: 50%;
    width: calc($TextSize-05 - 3px);
    height: calc($TextSize-05 - 3px);
    background-color: $ButtonColor;
  }

  .data-field-2212 {font-size: 3px}
  .data-field-2011 {font-size: 6px;}
  .res-field-2210-result {
    font-size: 9px;
  }

  .data-field-1501-santa {
    font-size: 10px;
  }

  .res-field-1608-image {
    font-size: 7px;
  }

  .res-field-1908-image, 
  .res-field-1608,
  .res-field-2210-image {
    font-size: 9px;
  }

  .playground-2212 {
    font-size: 1px;
  }

  .dad-jokes-field {
    font-size: 5vh;
    margin-top: 77px;
    margin-left: calc($DadMarginL - 5px);
    user-select: none;
  }

  .data-field-2223 {
    font-size: 7px;
  }

  .data-field-2222 {
    font-size: 3px;
  }

  .data-field-1803 {
    font-size: 7px;
  }

  .res-field-1810-image {
    font-size: 6px;
  }

  .data-field-2003 {
    font-size: 5px;
  }

  .data-field-2003-children {
    padding-left: 1px;
    padding-right: 1px;
  }
}
