:root {

  --FONT-TEXT: "Courier New", Courier, monospace, Consolas;
  --FONT-SIZE: 42px;
  --FONT-SIZE-HALF: calc(var(--FONT-SIZE) / 2);
  --FONT-SIZE-2X: calc(var(--FONT-SIZE) * 2);
  --FONT-SIZE-3X: calc(var(--FONT-SIZE) * 3);
  --BTN-WATER-GREEN: #23aeba;
  --DAD-MARGIN-H: 20%;
  --DAD-MARGIN-V: 21%;
}

body {

  margin: 0;
  background-color: black;
  color: white;
  font-family: var(--FONT-TEXT);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: var(--FONT-SIZE-HALF);
}

pre, span, div {

  font-family: var(--FONT-TEXT);
  margin: .3em;
}

.container-L {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-R {

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  white-space: pre-wrap; /* show \n inside strings */
}

.container-R > span {
  margin-bottom: 1.2em;
}

nav {
  margin-top: 5%;
}

nav > ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid var(--BTN-WATER-GREEN);
  border-radius: 10px;
  padding: 4px 10px;
  margin: 3px;
  font-size: 16px;
  background-color: transparent;
  transition: background-color 0.2s ease;
  
  color: white;
}

button:hover {

  background-color: var(--BTN-WATER-GREEN);
}


.gallery {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallery img {
  width: 100%;
  max-width: 320px;
  height: 300px;
  max-height: 320px;
  object-fit: cover;
  border-radius: 10px;
}

.dad-jokes-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-bottom: 50vh;
  user-select: none;
  margin-left: var(--DAD-MARGIN-H);
  margin-right: var(--DAD-MARGIN-H);
  margin-top: var(--DAD-MARGIN-V);
}
